@import 'tailwindcss';

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-poppins: var(--font-poppins), sans-serif;
}

body {
  background: var(--background);
  color: white;
  font-family: var(--font-poppins), sans-serif;
}